.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Libre Franklin', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1190px;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.header_button_link:hover {
  color: black !important;
}

.main_banner {
  background-image: url(../public/images/home_banner_image.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 210px 30px 120px;
  display: block;
  text-align: center;
  margin-top: -92px;
}

.main_banner_heading {
  font-size: 72px;
  font-weight: 800;
  line-height: 78px;
  color: white;
  letter-spacing: -1px;

}

.main_banner_dis {
  font-family: 'IBM Plex Mono', sans-serif !important;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

}

.main_banner_button {
  background-color: #5ab963;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  margin-top: 50px;
}

.main_banner_button:hover {
  background-color: #48944f !important;
  color: white !important;
}

.other_banner {
  background-color: #5ab963;
  width: 100%;
  height: auto;
  padding: 180px 30px 90px;
  display: block;
  margin-top: -92px;
}

.other_banner_link_box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.other_banner_link {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.other_banner_link:hover {
  color: white !important;
  opacity: 0.8 !important;
}

.other_banner_link_line {
  background-color: #fff;
  height: 2px;
  width: 30px;
  margin-left: 20px;
  display: block;
}

.other_banner_heading {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 72px;
  line-height: 78px;
  font-weight: 800;
  letter-spacing: -1px;
  width: 60%;
}

.other_banner_dis {
  font-family: 'IBM Plex Mono', sans-serif !important;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 60%;
}

.second_section {
  padding: 120px 30px;
}

.bold_normal_text_box {
  margin-bottom: 90px;
}

.second_section_text_box {
  width: 100%;
}

.second_section_text {
  color: #b3b3b3;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.second_section_text span {
  color: black;
  font-weight: 800;
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_box {
  padding: 50px 40px;
  margin: 10px;
  border: 1px solid #f7f7f7 !important;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
}

.card_box .card_img {
  width: 60px;
  display: block;
}

.card_box .card-title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.card_box .card-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
  margin-bottom: 10px;
}

.card_box .card-body {
  padding: 25px 0px 0px;
}

.home_slider_main {
  width: 100%;
  padding: 0 30px;
  display: block;
  margin: 0 auto;
}

.home_slider_main .carousel {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.third_section {
  padding: 110px 30px;
  text-align: center;
  background-color: #fafafa;
}


.third_section_link_text {
  transition: color 200ms ease;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #5ab963;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: auto;
}

.third_section_link_text:hover {
  color: #48944f;
}

.section_line {
  border-bottom: 1px solid #e6e6e6;
}

.forth_section {
  padding: 120px 30px;
  background-color: #fafafa;
}

.img_with_dis_para_text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 79%;
  margin: 0px 0px 0px 70px;
}

.forth_section_bottom_heading {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 110px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.img_with_dis_sec_section {
  margin-top: 90px;
}

.fifth_section {
  padding: 150px 30px;
  background-color: #fafafa;

}

.fifth_section_link_box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.fifth_section_link {
  color: #5ab963;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.fifth_section_link_line {
  background-color: #5ab963;
  height: 2px;
  width: 30px;
  margin-left: 20px;
  display: block;
}

.fifth_section_text_box {
  width: 585px;
}

.fifth_section_text {
  color: #b3b3b3;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 0;
}

.fifth_section_text span {
  color: #000;
  font-weight: 800;
}

.fifth_section_button {
  padding: 21px 30px;
  border-radius: 4px;
  background-color: #5ab963;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  text-decoration: none;
}

.fifth_section_button:hover,
.price_card_button:hover,
.input_field_button input:hover {
  background-color: #48944f;
  color: white;
}

.fifth_section_iteams {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_section {
  background-color: #0a0e1a;
  padding: 120px 30px 150px;
}

.footer_section_img_col_text {
  margin-top: 15px;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.footer_section_link_2col {
  padding: 0;
  list-style: none;
}

.footer_section_link_2col_list,
.footer_section_icon_link {
  margin-bottom: 25px;
  transition: color 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
}

.footer_section_link_2col_list:hover,
.footer_section_icon_link:hover {
  color: hsla(0, 0%, 100%, .7);
}

.footer_section_icon_link {
  margin-right: 20px;
}

.page_img_dis_section {
  background-color: transparent;
  padding: 120px 30px;
}

.feature_premium_section {
  background-image: url(../public/images/image-premium-banner.jpg);
  width: 100%;
  padding: 120px 0;
  display: block;
}

.feature_premium_section_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feature_premium_section_inner_green_box {
  max-width: 370px;
  padding: 60px 50px;
  background-color: #5ab963;
}

.feature_premium_section_inner_green_box_heading {
  margin-top: 0px;
  margin-bottom: 50px;
  color: white;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.feature_premium_section_inner_green_box_heading_bold {
  font-weight: 800;
}

.feature_premium_section_inner_green_box_button {
  padding: 15px 30px;
  border-radius: 4px;
  background-color: white;
  transition: background-color 200ms ease;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  text-decoration: none;
}

.feature_premium_section_inner_green_box_button:hover {
  background-color: #e6e6e6;
  color: #000;
}

.primium_banner_2_box {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.primium_page_card_main {
  padding: 40px 60px;
  border: 1px solid #f7f7f7;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
  max-width: 1170px;
  display: block;
  margin: -60px auto 120px;
  z-index: 9;
  position: relative;
}

.primium_page_card_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primium_page_card_box_content {
  width: 88%;
}

.primium_page_card_box_content_heading {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.primium_page_card_box_content_dis {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.primium_page_testimonial_main {
  text-align: center;
}

.primium_page_testimonial_heading {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.primium_page_testimonial_review {
  color: #5ab963;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  width: 61%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.primium_page_testimonial_user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.primium_page_testimonial_user_img {
  border-radius: 50%;
  width: 40px;
}

.primium_page_testimonial_user_name {
  margin-left: 20px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

.primium_page_third_section {
  padding: 120px 30px;
}

.price_card_main {
  border: 1px solid #f7f7f7;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  margin: 0 10px;
  width: 31%;
}

.price_card_content {
  padding: 50px 40px 50px;
  min-height: 662px;
}

.price_card_heading {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.price_card_price {
  color: #000;
  font-size: 72px;
  line-height: 78px;
  font-weight: 800;
}

.price_card_price sub {
  margin-top: 40px;
  margin-left: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.price_card_dis {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #999;
  border-bottom: 1px solid #5ab963;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.price_card_small_text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 10px 0;
  display: block;
}

.price_card_ul {
  padding: 0;
  list-style: none;
}

.price_card_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.price_card_button {
  background-color: #5ab963;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  display: block;
  padding: 15px;
  text-decoration: none;
  text-align: center;
}

/* .price_card_button:hover {
  background-color: #48944f;
  color: white;
} */

.pricing_third_section {
  position: relative;
  background: linear-gradient(0deg, #fafafa 50%, white 50%);
}

.pricing_third_right_card_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing_forth_section {
  padding: 120px 30px;
  background-color: #fafafa;
}

.pricing_que_text {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pricing_ans_text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.pricing_QA_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing_QA {
  width: 44%;
  margin: 30px 50px 30px 10px;
}

.about_banner_2_box {
  display: flex;
  margin-top: -120px;
  padding-right: 30px;
  padding-left: 30px;
  max-height: 720px;
  max-width: 1440px;
}

.about_third_section {
  padding: 115px 30px 115px;
}

.about_forth_section,
.about_fifth_section {
  padding: 120px 30px;
}

.about_guide_text_box {
  display: flex;
  justify-content: space-between;

}

.about_guide_main {
  width: 33.33333333%;
  margin-right: 10px;
  margin-left: 10px;
}

.about_guide_number {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.about_guide_heading {
  font-size: 24px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-weight: 800;
}

.about_guide_dis {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.about_profile_card_box {
  display: flex;
  flex-wrap: wrap;
}

.about_profile_card_main {
  width: 23.2%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
  border: none;
  margin: 10px;
}

.about_profile_card_main .card-body {
  padding: 20px 30px;
}

.about_profile_card_name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.about_profile_card_designation {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.contact_email_box {
  display: flex;
}

.contact_email_text,
.contact_email_name_text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 25%;
}

.contact_email_name_text {
  color: #000;
  width: 75%;
}

.input_field {
  width: 90%;

}

.input_field input {
  width: 100%;
  height: 60px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #e6e6e6;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 0px;
  margin-bottom: 10px;
}

.input_field_button {
  width: 120px;
  margin-top: 50px;
}

.input_field_button input {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: #5ab963;
}

/* .input_field_button input:hover {
  background-color: #48944f;
  color: white;
} */

.img_with_dis_img_box {
  width: 100%;
}

.img_with_dis_img_box img {
  width: 100%;
}

.spoon_header_main .navbar-toggler {
  color: white !important;
  border: 2px solid rgb(163, 160, 160) !important;
}

.spoon_header_main .navbar-toggler:focus {
  box-shadow: none;
}


@media (max-width:1024px) {

  .card_section .card_box {
    width: 31% !important;
  }

  .feature_premium_section_inner_green_box {
    margin-right: 30px;
  }

  .primium_page_card_main {
    margin: -60px 50px 120px;
  }

  .price_card_content {
    min-height: 680px;
  }

  .pricing_third_right_card_main {
    margin: 0 20px;
  }

  .pricing_QA {
    width: 44%;
    margin: 30px 0px;
  }

  .about_profile_card_main {
    width: 22%;
  }
}

@media (max-width:991px) {

  .spoon_header_main {
    background-color: black !important;
    padding: 15px;
  }

  .spoon_header_main .spoon_header_ul li a {
    padding: 15px !important;
  }

  .spoon_header_main .spoon_header_ul li a {
    border-bottom: 1px solid rgb(65, 63, 63);
  }

  .spoon_header_main .spoon_header_button {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .navbar-toggler {
    padding: 1px 3px;
  }

  .contact_main {
    margin-top: 40px;
  }

}



@media(min-width:768px) and (max-width:991px) {

  /* home and header-footer */

  .main_banner_heading {
    font-size: 50px;
    line-height: 60px;
  }

  .second_section {
    padding: 80px 30px;
  }

  .card_section .card_box {
    padding: 35px 25px;
    width: 47% !important;
  }

  .third_section {
    padding: 80px 30px;
  }

  .forth_section {
    padding: 90px 30px;
  }

  .second_section_main_res,
  .img_with_dis_para_text {
    width: 95% !important;
    margin: 0px 0px 15px 15px !important;
  }

  .second_section_text {
    font-size: 22px;
  }

  .forth_section_bottom_heading {
    margin-top: 80px;
  }

  .fifth_section {
    padding: 90px 30px;
  }

  .fifth_section_text_box {
    width: 400px;
  }

  .footer_section {
    padding: 90px 30px 100px;
  }

  .other_banner {
    padding: 160px 30px 70px;
  }

  .other_banner_heading {
    font-size: 50px;
    line-height: 60px;
  }

  .primium_page_card_main {
    margin: -60px 50px 80px;
  }

  .price_card_main {
    width: 46%;
    margin-top: 30px;
  }

  .pricing_third_right_card_main .card_box {
    width: 47% !important;
    padding: 40px 30px;
  }

  .pricing_third_section {
    background: linear-gradient(0deg, #fafafa 75%, white 50%);
  }

  .pricing_forth_section {
    padding: 80px 30px;
  }

  .price_card_price {
    font-size: 52px;
    line-height: 68px;
  }

  .about_third_section {
    padding: 70px 30px 70px;
  }

  .about_forth_section,
  .about_fifth_section {
    padding: 70px 30px;
  }

  .about_guide_text_box {
    margin-top: 40px;
  }

  .about_guide_heading {
    font-size: 22px;
    line-height: 34px;
  }


}

@media(max-width:767px) {

  /* home and header-footer */
  .main_banner {
    padding: 180px 30px 100px;
  }

  .main_banner_heading {
    font-size: 40px;
    line-height: 46px;
  }

  .fifth_section_text_box {
    width: 100%;
  }

  .second_section {
    padding: 60px 30px;
  }

  .second_section_main_res {
    width: 100% !important;
    margin: 0px 0px 30px !important;
  }

  .second_section_text {
    font-size: 20px;
    line-height: 28px;
  }

  .card_section .card_box {
    width: 100% !important;
    margin: 0 0 20px 0 !important;
    padding: 30px 20px;
  }

  .third_section,
  .forth_section {
    padding: 70px 30px;
  }

  .img_with_dis_img_box {
    margin-bottom: 20px;
  }

  .img_with_dis_para_text {
    width: 100%;
    margin: -10px 0px 0px 0px;
  }

  .fifth_section {
    padding: 70px 30px;
  }

  .fifth_section_iteams {
    flex-direction: column;
  }

  .fifth_section_text {
    font-size: 20px;
    line-height: 28px;
  }

  .fifth_section_get_button {
    margin-top: 50px;
  }

  .footer_section {
    padding: 70px 30px 70px;
  }

  .other_banner_heading {
    font-size: 40px;
    line-height: 46px;
    width: 100%;
  }

  .other_banner_dis {
    width: 100%;
  }

  .feature_premium_section {
    padding: 70px 0;
  }

  .feature_premium_section_inner_green_box {
    margin: auto;
    width: 80%;
    padding: 40px 30px;
  }

  .primium_page_card_main {
    padding: 20px 20px;
    margin: -60px 30px 60px;
  }

  .primium_page_card_box {
    flex-direction: column;
  }

  .primium_page_card_box_img {
    margin-bottom: 20px;
  }

  .primium_page_testimonial_review {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }

  .primium_page_testimonial_user {
    margin-top: 20px;
  }

  .primium_page_third_section {
    padding: 60px 30px;
  }

  .price_card_price {
    font-size: 40px;
    line-height: 58px;
  }

  .price_card_main {
    width: 100%;
    margin: 20px 0;
  }

  .price_card_content {
    min-height: auto;
  }

  .pricing_third_right_card_main .card_box {
    width: 100% !important;
    padding: 30px 30px;
  }

  .pricing_QA {
    width: 100%;
    margin: 20px 0px;
  }

  .pricing_forth_section {
    padding: 60px 30px;
  }

  .about_third_section {
    padding: 60px 30px 60px;
  }

  .about_forth_section,
  .about_fifth_section {
    padding: 60px 30px;
  }

  .about_guide_main {
    width: 100%;
    margin: 15px 0;
  }

  .about_guide_text_box {
    flex-wrap: wrap;
  }


  .about_guide_heading {
    font-size: 20px;
    line-height: 32px;
  }

  .about_profile_card_main {
    width: 100%;
    margin: 10px 0;
  }

  .input_field {
    width: 100%;
  }

  .input_field_button {
    width: 100%;
    margin-top: 50px;
  }
}

/* .navbar-toggler-icon {
  position: relative;
  background-image: none !important;
}

.navbar-toggler-icon:after {
  content: "\f0c9";
  position: absolute;
  top: 0;
  font-size: 25px;
  left: 0;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
} */