.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Libre Franklin', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1190px;
}

.main_banner {
  background-image: url(../public/images/home_banner_image.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 210px 30px 120px;
  display: block;
  text-align: center;
  margin-top: -92px;
}

.main_banner_heading {
  font-size: 72px;
  font-weight: 800;
  line-height: 78px;
  color: white;
  letter-spacing: -1px;

}

.main_banner_dis {
  font-family: 'IBM Plex Mono', sans-serif !important;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

}

.main_banner_button {
  background-color: #5ab963;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  margin-top: 50px;
}

.main_banner_button:hover {
  background-color: #48944f !important;
  color: white !important;
}

.other_banner {
  background-color: #5ab963;
  width: 100%;
  height: auto;
  padding: 180px 30px 90px;
  display: block;
  margin-top: -92px;
}

.other_banner_link_box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.other_banner_link {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.other_banner_link:hover {
  color: white !important;
  opacity: 0.8 !important;
}

.other_banner_link_line {
  background-color: #fff;
  height: 2px;
  width: 30px;
  margin-left: 20px;
  display: block;
}

.other_banner_heading {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 72px;
  line-height: 78px;
  font-weight: 800;
  letter-spacing: -1px;
  width: 60%;
}

.other_banner_dis {
  font-family: 'IBM Plex Mono', sans-serif !important;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 60%;
}

.second_section {
  padding: 120px 30px;
}

.bold_normal_text_box {
  margin-bottom: 90px;
}

.second_section_text_box {
  width: 100%;
}

.second_section_text {
  color: #b3b3b3;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.second_section_text span {
  color: black;
  font-weight: 800;
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_box {
  padding: 50px 40px;
  margin: 10px;
  border: 1px solid #f7f7f7 !important;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
}

.card_box .card_img {
  width: 60px;
  display: block;
}

.card_box .card-title {
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.card_box .card-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.card_box .card-body {
  padding: 25px 0px 0px;
}

.home_slider_main {
  width: 100%;
  padding: 0 30px;
  display: block;
  margin: 0 auto;
}

.home_slider_main .carousel {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.third_section {
  padding: 110px 0;
  text-align: center;
  background-color: #fafafa;
}


.third_section_link_text {
  transition: color 200ms ease;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #5ab963;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: auto;
}

.third_section_link_text:hover {
  color: #48944f;
}

.section_line {
  border-bottom: 1px solid #e6e6e6;
}

.forth_section {
  padding: 120px 0;
  background-color: #fafafa;
}

.img_with_dis_para_text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 79%;
  margin: 0px 0px 0px 70px;
}

.forth_section_bottom_heading {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 110px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.img_with_dis_sec_section {
  margin-top: 90px;
}

.fifth_section {
  padding: 150px 0;
  background-color: #fafafa;

}

.fifth_section_link_box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.fifth_section_link {
  color: #5ab963;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.fifth_section_link_line {
  background-color: #5ab963;
  height: 2px;
  width: 30px;
  margin-left: 20px;
  display: block;
}

.fifth_section_text_box {
  width: 585px;
}

.fifth_section_text {
  color: #b3b3b3;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 0;
}

.fifth_section_text span {
  color: #000;
  font-weight: 800;
}

.fifth_section_button {
  padding: 21px 30px;
  border-radius: 4px;
  background-color: #5ab963;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  text-decoration: none;
}

.fifth_section_button:hover {
  background-color: #48944f;
  color: white;
}

.fifth_section_iteams {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_section {
  background-color: #0a0e1a;
  padding: 120px 0 150px;
}

.footer_section_img_col_text {
  margin-top: 15px;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.footer_section_link_2col {
  padding: 0;
  list-style: none;
}

.footer_section_link_2col_list,
.footer_section_icon_link {
  margin-bottom: 25px;
  transition: color 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
}

.footer_section_link_2col_list:hover,
.footer_section_icon_link:hover {
  color: hsla(0, 0%, 100%, .7);
}

.footer_section_icon_link {
  margin-right: 20px;
}